@import '../../styles/global.scss';

main.Login-container {
    @include spacing-lateral();
    height: 100vh;

    display: flex;
    align-items: center;
    
    .grid {        
        max-width: 900px;

        display: flex;
        justify-content: center;
    }

    .cabecalho-form {
        width: 100%;
        max-width: 390px;

        display: flex;
        flex-direction: column;
        justify-content: center;

        div {
            width: 100%;
            max-width: 200px;
            line-height: 0;

            margin-bottom: 5rem;
    
            img {
                width: 100%;
            }
        }

        h1 {
            font-size: 3.8rem;
            line-height: 150%; /* 54px */
            letter-spacing: -0.36px;

            margin-bottom: 1.5rem;
        }
    }

    form {
        background-color: $color-bgsecundary;
        border-radius: 10px;
        padding: 6rem 4rem;

        width: 100%;
        min-width: 430px;
        max-width: 440px;
        z-index: 1;

        display: flex;
        flex-direction: column;
        gap: 2rem;

        .input-div {
            position: relative;

            display: flex;
            align-items: center;

            svg {
                position: absolute;
                // top: calc(50% - 7px);
                left: 1.6rem;
            }
            input {
                background-color: $white;
                width: 100%;
                border-radius: 10px;
                
                padding: 1.5rem 2rem 1.5rem 4rem;

                font-size: 1.6rem;
                
                transition: all .3s ease-in-out;

                &:hover {
                    box-shadow: 0 0 0 1px #3889e0;
                } 
                &:focus {
                    box-shadow: 0 0 0 2px #5d9cdf, 0 0 0 5px #A0BDDD;
                }               
            }
        }

        .show-senha {
            display: flex;
            align-items: center;
            gap: .7rem;

            input {
                width: 1.6rem;
                height: 1.6rem;
            }
        }

        button {
            @include style-btn(5rem, $color-main, 2rem, $white);
            font-weight: 700;
            border-radius: 10px;
        
            margin-top: 2rem;

            // &:hover {
            //     // box-shadow: 0px 1px 7px 2px rgba(49, 49, 49, 0.295);
            //     filter: drop-shadow(0 0 8px $color-main) brightness(1.1);
            // }
            // &:active {
            //     filter: drop-shadow(0 0 8px $color-main) brightness(0.9);
            // }
        }
    }


    // RESPONSIVIDADE:
    @media screen and (max-width: 767px) {
        .grid {
            flex-direction: column;
            align-items: center;
        }

        .cabecalho-form {
            max-width: 440px; 
        }

        form {    
            min-width: 250px;
        }
    }

    /* Mobile geral */
    @media screen and (max-width: 480px) {
        .grid {
            position: relative;
            top: -5px;
        }

        .cabecalho-form {
            div {
                animation: showLogo .5s ease-in-out;
            }

            h1 {
                font-size: 3.2rem;
            }
        }

        form {
            padding: 4.5rem 4rem;
        }
    }

    // ANIMAÇÕES:
    @keyframes showLogo {
        0% {
            transform: scale(.6);
        }
        100% {
            transform: scale(1);
        }
    }
}

footer {
    position: absolute;
    bottom: 2%;
    right: 0;
    left: 0;
    // z-index: -1;

    text-align: center;
    font-weight: 500;
}
