@import '../../styles/global.scss';

main.page-content {
    h1.title {
        display: flex;
        align-items: center;
        gap: .5rem;
    }
    
    .campo-pesquisa {
        margin-bottom: 1.5rem;

        display: flex;
        justify-content: right;
        align-items: center;
        flex-wrap: wrap;
        gap: 1rem;

        label {
            font-size: 2rem;
            font-weight: 700;
            cursor: pointer;
        }

        .div-input {
            position:relative;
            width: 100%;
            max-width: fit-content;
            // display: inline-block;
            // margin-left: 1rem;

            input {
                font-size: 1.5rem;                
    
                width: 100%;
                min-width: 250px;
                max-width: 280px;
                height: 3rem;
                border-radius: 5px;
                box-shadow: 0 1px 4px 1px rgba(49, 49, 49, 0.452);
                
                padding: 0 2.7rem 0 .7rem;                
    
                transition: all .3s ease-in-out;
    
                &:hover {
                    cursor: pointer;
                    box-shadow: 0px 1px 7px 2px $color-main;
                }
                &:focus {
                    box-shadow: 0 0 0 2px #5d9cdf, 0 0 0 5px #A0BDDD;
                }
            }

            svg {
                position: absolute;
                right: .7rem;
                top: .6rem;
            }
        }
    }

    .painel-table {
        background-color: $color-bgsecundary;
        // width: 100%;
        padding: 2rem;
        border-radius: 10px;

        p.loading-usuarios {
            font-size: 1.6rem;
            text-align: center;
            padding: 8rem 0;
        }

        .cabecalho-painel {
            display: flex;
            justify-content: space-between;
            align-items: center;

            margin-bottom: 5px;
        }
        button.add-user {
            @include style-btn(4rem, $color-main, 1.6rem, $white);
            font-weight: 600;
            padding: 0 3rem;
            border-radius: 10px;

            transition: all .3s ease-in-out;

            &:hover {
                box-shadow: 0px 1px 7px 2px rgba(49, 49, 49, 0.452);
            }
        }

        .content-painel {
            .not-users {
                text-align: center;
                padding: 4rem 0;
    
                p {
                    font-size: 1.8rem;
                    font-weight: 700;
                    line-height: 150%; /* 30px */
                    letter-spacing: -0.2px;
    
                    margin-bottom: .5rem;
                }
            }

            table.table-users {
                margin-top: 25px;

                width: 100%;
                table-layout: fixed;
                border-collapse: collapse;

                margin-bottom: 2rem;

                tr {
                    border-bottom: 1px solid $color-text; 
                    padding: 0.35rem;

                    th, td {
                        padding: 1rem .7rem;
                        text-align: left;
                        width: 23%;
        
                        .action {
                            // padding: 0.5rem;
                            padding: .3rem .44rem;
                            border-radius: 5px;
                            margin-right: 3px;
                            // line-height: 0;
                            color: $white;
                            font-size: 1.6rem;
                        }
        
                        .badge {
                            padding: .3rem .44rem;
                            border-radius: 5px;
                            color: $white;
                        }
                    }

                    th:first-child, td:first-child {
                        width: 8%;
                        min-width: 50px;
                    }
                    th:nth-child(3), td:nth-child(3) {
                        text-align: center;
                        width: 25%;
                        min-width: 60px;
                    }
                    th:nth-child(4), td:nth-child(4) {
                        text-align: center;
                        width: 25%;
                        min-width: 60px;
                    }
                    th:last-child, td:last-child {
                        width: 25%;
                        text-align: right;
                    }

                    th {
                        text-transform: uppercase;

                        &:last-child {
                            padding: .7rem 2.3rem;
                        }
                    }
                }
            }
        }

        .paginacao {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;

            button {
                background-color: $color-secundary;
                color: $white;

                display: flex;
                align-items: center;
                padding: .4rem .5rem .4rem .3rem;
                &.next {
                    padding: .4rem .3rem .4rem .5rem;
                }
                border-radius: 5px;

                transition: all .2s ease-in-out;
                &:hover {
                    background-color: $white;
                    color: $color-secundary;
                }
                &:active {
                    background-color: $color-main;
                    color: $white;
                }
            }
            button[disabled] {
                opacity: .5;
                cursor: no-drop;
            }

            input {
                font-size: 1.6rem;
                height: 2.8rem;
                width: 4.5rem;
                text-align: center;

                border: 1px solid $color-secundary;
                border-radius: 5px;
                                
                transition: all .3s ease-in-out;
    
                &:hover {
                    // cursor: pointer;
                    border: 1px solid $color-main;
                    box-shadow: 0 0 1px 1px $color-main;
                }
                &:focus {
                    box-shadow: 0 0 0 2px #5d9cdf, 0 0 0 5px #A0BDDD;
                }

                &.error {
                    box-shadow: 0 0 0 2px #df5d5d, 0 0 0 5px #dda0a0;
                }
            }
        }
    }


    // RESPONSIVIDADE:
    @media screen and (max-width: 480px) {
           
    }

}