@import '../../../styles/global.scss';

div.Modal-container {
    @include spacing-lateral();
    background-color: rgba(35, 35, 35, 0.6);
    backdrop-filter: blur(2px);

    position: fixed;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 20;

    animation: showModal .3s ease-in-out;

    .modal-background {   
        position: absolute;    
        width: 100%;
        height: 100%;
        z-index: 21;
    }

    .modal-window {
        background-color: $color-bgprimary;
        position: relative;
        z-index: 30;

        width: 100%;
        max-width: 80.2rem;;
        
        margin: 0 auto;
        margin-top: 15%;
        padding: 2rem;  
        border-radius: 10px;      
        box-shadow: 0 0 20px 5px #00000085;

        animation: showModal .5s ease-in-out;

        .btn-close {
            // cursor: pointer;
            position: absolute;
            right: 2.5rem;
            top: 2.5rem;

            // line-height: 0;
            border: 2px solid $color-secundary;
            // border-radius: 6px;

            // transition: all .2s ease-in-out;

            svg {
                width: 2rem;
                height: 2rem;
            }

            &:hover {
                // border: 2px solid $red;
                background-color: $color-secundary;
            }            
        }

        h2 {
            margin-bottom: 2.5rem;
        }

        .modal-content {
            margin-bottom: 2.5rem;

            display: flex;
            gap: 2.5rem;

            .preview {
                h3 {
                    margin-bottom: 1rem;
                }

                .sem-arquivo, video, img {
                    width: 250px;
                    max-width: 250px;
                    border-radius: 7px;

                    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
                    // box-shadow: 0 0 5px rgba(43, 42, 42, 0.753);
                }
                .sem-arquivo {
                    border: 1px solid;
                    height: 250px;

                    text-align: center;
                    padding: 1.5rem;

                    display: flex;
                    align-items: center;
                    justify-content: center;
                    
                    font-weight: 700;
                }
            }

            .info-midia {
                width: 100%;

                h3 {
                    margin-bottom: 1rem;
                }

                .midia {
                    label, p {
                        font-weight: 700;
                    }
                    span {
                        font-weight: normal;
                    }
                
                    .choice-file {
                        background-color: $color-bgsecundary;
                        border-radius: 7px;
                        padding: 1rem;

                        margin-bottom: 5rem;

                        .input-file {
                            display: inline-block;
                            margin-bottom: .5rem; 
                            
                            input {
                                display: none;
                            }
                            .btn-file {
                                @include style-btn(4rem, $color-main, 1.6rem, $white);
                                line-height: 100%;
                                font-weight: 600;
                                padding: .1rem 1.5rem;
                                border-radius: 7px;
                            }
                        } 

                        .resul {
                            display: inline-block;
                            margin-left: .6rem;

                            line-height: 0;
                        }

                        // small:last-child {
                        //     line-height: 150%;
                        // }
                    }
                }
                .midia.edit {
                    .info-file {
                        margin-bottom: 5rem;
                    }
                    .choice-file {
                        margin-bottom: 0;
                    }
                }
            }
        }

        .actions-btn {
            display: flex;
            justify-content: end;
            gap: 15px;

            a, button {
                border-radius: 7px;
                width: 15rem;
                font-size: 1.6rem;
                font-weight: 600;
            }

            .btn-upload {
                @include style-btn(35px, $color-main, 1.6rem, $white);

                &:disabled {
                    cursor: not-allowed;
                    opacity: 0.5;
                }
            }
            
            .btn-cancel {
                background-color: $white;
                border: 2px solid $color-secundary;
                color: $color-secundary;

                text-align: center;
                line-height: 30px;

                transition: all .3s ease-in-out;

                &:hover {
                    // background-color: $gray-400;
                    // border: 2px solid $white;
                    // color: $white;
                    filter: brightness(0.9);
                    box-shadow: 0px 1px 7px 2px rgba(49, 49, 49, 0.452);
                }
                &:active {
                    filter: brightness(1.1);
                    box-shadow: 0px 1px 7px 2px rgba(49, 49, 49, 0.452);
                }
            }

            .btn-delete {
                background-color: $red;
                color: $white;

                text-align: center;
                line-height: 35px;

                transition: all .3s ease-in-out;

                &:hover {
                    filter: brightness(1.05);
                    box-shadow: 0px 1px 7px 2px rgba(49, 49, 49, 0.452);
                }
                &:active {
                    filter: brightness(0.9);
                }
            }
        }


        .modal-background-delete {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;

            padding: 0 15px;

            display: flex;
            justify-content: center;
            align-items: center;
            
            .modal-delete {
                background-color: $white;
                width: 100%;
                max-width: fit-content;

                border-radius: 10px;
                padding: 15px;
                box-shadow: 0px 1px 10px 4px rgba(49, 49, 49, 0.452);

                animation: showModal .2s ease-in-out;

                h3 {
                    margin-bottom: 3rem;
                }

                div {
                    display: flex;
                    gap: 15px;

                    button {
                        border-radius: 7px;
                        width: 100%;
                        padding: .3rem 0;
                        font-size: 1.6rem;
                        font-weight: 600;

                        background-color: $white;
                        border: 2px solid $black;

                        transition: all .3s ease-in-out;

                        &:hover {
                            filter: brightness(0.9);
                            box-shadow: 0px 0px 7px 1px rgba(49, 49, 49, 0.452);
                        }
                        &:active {
                            filter: brightness(1.12);
                        }
                    }
                    .btn-yes {
                        border: none;
                        padding: 0;
                        @include style-btn(30px, $red, 1.6rem, $white);

                        &:hover {
                            box-shadow: none;
                        }
                        box-shadow: none;
                    }
                }


            }
        }
    }


    // RESPONSIVIDADE:
    /* Tablets */
    @media screen and (max-width: 785px) {
        .modal-window .modal-content .info-midia .midia .choice-file {
            .resul {
                display: block;
                margin-left: 0;

                b {
                    line-height: 150%;
                }
            }       
            
            br {
                display: none;
            }
        }
    }

    /* Tablets baixa resolução */
    @media screen and (max-width: 600px) {
        overflow-y: auto;
        overflow-x: hidden;
        padding-bottom: 10%;

        .modal-window {
            margin-top: 10%;

            .modal-content {
                flex-direction: column;

                .preview {
                    img, video, div {
                        display: block;
                        margin: 0 auto;
                    }
                }
            }
        } 
    }
    
    // ANIMAÇÕES:
    @keyframes showModal {
        0% {
            opacity: 0; 
        }
        100% {
            opacity: 1; 
        }
    }
}