@import '../../../styles/global.scss';

div.Modal-container {
    @include spacing-section();
    background-color: rgba(35, 35, 35, 0.6);
    backdrop-filter: blur(2px);

    position: fixed;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 20;

    .modal-background {        
        width: 100%;
        height: 100%;

        animation: showModal .3s ease-in-out;
    }

    .modal-window {
        background-color: $color-bgsecundary;
        width: 700px;
        // max-width: 80.2rem;

        position: absolute;
        // left: 15px;
        bottom: 40px;
        z-index: 99;

        margin: auto;
        padding: 2.5rem 20px;
        

        animation: showModal .5s ease-in-out;


    }
    input {
        display: none;
    }

    @keyframes showModal {
        0% {
            opacity: 0; 
        }
        100% {
            opacity: 1; 
        }
    }
}