/* VARIABLES & MIXINS */
$font-main: 'Open Sans';

// $color-main: 006BEA;
$color-main: #1F75CB;
$color-secundary: #3b3b3b;
$color-text: #282825;
// $color-bgprimary: efefef; 
$color-bgprimary: #EEEEEE; 
$color-bgsecundary: #D5D3D2;

$red: #E94D4D;
$ciano: #0AA699;
$laranja: #EF7835; 

$white: #fff;
$gray-100: #F4F4F4;
$gray-200: #e1e1e6;
$gray-300: #d5d3d2;
$gray-400: #656362;
$gray-600: #323238;
$gray-700: #2D2C29;
$gray-800: #202024;
$gray-900: #121214;
$black: #000;


@mixin grid-layout() {
    width: 100%;
    max-width: 1280px;
    
    margin: 0 auto;
}
    
@mixin spacing-section() {
    padding: 60px 20px;

    @media screen and (max-width: 480px) {
        padding: 40px 15px;
    }
}
@mixin spacing-lateral() {
    padding: 0 20px;

    @media screen and (max-width: 480px) {
        padding: 0 15px;
    }
}

@mixin style-btn($height, $bg, $fontSize, $colorText) {
    height: $height;
    line-height: $height;
    background-color: $bg;

    font-size: $fontSize;
    color: $colorText;

    transition: all .3s ease-in-out;

    &:hover {
        background-color: $colorText;
        color: $bg;
    }
    &:active {
        filter: brightness(0.8);
    }
}
/* VARIABLES & MIXINS */


/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
    
img {
    width: 100%;
    max-width: fit-content;
}

a {
    color: inherit;
    text-decoration: none;
}

input, textarea, select {
    outline: none;
    // background-color: transparent;
}

ul, ol, li {
    list-style: none;
}

button, a {
    cursor: pointer;
}
/* RESET */


/* GLOBAL */
html {
    scroll-behavior: smooth;
    height: fill-available;
    height: -webkit-fill-available;
    
    font-size: 62.5%; /* Pra usar rem divisivel por 10 */
    @media screen and (max-width: 480px) {
      font-size: 55%;
    }
}
  
body {
    font-size: 1.6rem; /* Pra garantir q o padrao seja 16px no navegador*/
    width: 100%;
    background-color: $color-bgprimary;
    color: $color-text;
    -webkit-font-smoothing: antialiased;
}
body, input, textarea, button, select, a {
    font-family: $font-main, sans-serif;
}
/* GLOBAL */


/* GRID LAYOUT */
.grid {
    @include grid-layout();
}
/* GRID LAYOUT */


/* ANIMATIONS */
@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(40px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}
  
.fadeIn {
    animation: fadeIn .5s ease;
}

@keyframes showSidebar {
    from {
      opacity: 0;
      transform: translateX(200px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
}
  
.showSidebar {
    animation: showSidebar .3s ease-in-out;
}
/* ANIMATIONS */