@import '../../styles/global.scss';

main.page-content {
    @include spacing-section();

    h1 {
        margin-bottom: .5rem;
    }

    .grid > p {
        margin-bottom: 4rem;
    }

    .select-project {
        text-align: right;
        margin-bottom: 1.5rem;

        label {
            font-size: 2rem;
            font-weight: 700;
            vertical-align: middle;
        }
        select {
            font-size: 1.5rem;
            font-weight: 600;
            margin-left: 1rem;

            background-color: $color-bgsecundary;
            width: 100%;
            max-width: 25rem;
            height: 3rem;
            border-radius: 5px;
            box-shadow: 0 1px 4px 1px rgba(49, 49, 49, 0.452);
            
            padding: 0 .4rem;
            vertical-align: middle;

            transition: all .3s ease-in-out;

            &:hover {
                cursor: pointer;
                box-shadow: 0px 1px 7px 2px $color-main;
            }
        }
    }

    .painel-midias {
        background-color: $color-bgsecundary;
        padding: 2rem;
        border-radius: 10px;

        p.not-projects, p.loading-midias {
            font-size: 1.6rem;
            text-align: center;
            padding: 8rem 0;

            span {
                font-size: 20px;
                font-weight: 700;
                line-height: 150%; /* 30px */
                letter-spacing: -0.2px;
            }
        }

        .cabecalho-painel {
            display: flex;
            justify-content: space-between;
            align-items: center;

            margin-bottom: 5px;
        }
        button.add-midia {
            @include style-btn(4rem, $color-main, 1.6rem, $white);
            font-weight: 600;
            padding: 0 3rem;
            border-radius: 10px;

            transition: all .3s ease-in-out;

            &:hover {
                box-shadow: 0px 1px 7px 2px rgba(49, 49, 49, 0.452);
            }
        }

        .content-painel {
            .not-medias {
                text-align: center;
                padding: 4rem 0;
    
                p {
                    font-size: 1.8rem;
                    font-weight: 700;
                    line-height: 150%; /* 30px */
                    letter-spacing: -0.2px;
    
                    margin-bottom: .5rem;
                }
            }

            .sub-cabecalho {
                margin-bottom: 2.5rem;
            }

            ul.list-midias {
                display: flex;
                gap: 4rem 2rem;
                flex-wrap: wrap;
                // display: grid;
                // grid-template-columns: repeat(auto-fit, minmax(150px, auto));
                // gap: 1.75rem;

                li.item-midia {
                    text-align: center; 

                    .item-content {
                        background-color: #828181;
                        // color: $white;
                        width: 150px;
                        border-radius: 7px;
                        box-shadow: 0px 1px 7px 2px rgba(49, 49, 49, 0.452);

                        padding-top: 4px;
                        margin-bottom: 10px;

                        transition: all .3s ease-in-out;
                        position: relative;

                        &.ativa {
                            background-color: $white;
                            // color: $color-main;

                            img {
                                background-color: $color-bgsecundary;
                            }
                        }

                        &:hover {
                            filter: brightness(0.85);
                        }
                        &:active {
                            // filter: brightness(0.85);
                            box-shadow: 0px 0px 0px 2px $color-main, 0px 1px 7px 3px $color-main;
                            // opacity: 0.8;
                        }

                        .midia-disable {
                            cursor: pointer;
                            position: absolute;
                            left: 4px;
                            background-color: rgba(59, 58, 58, 0.589);
                            -webkit-backdrop-filter: blur(3px);
                            backdrop-filter: blur(3px);

                            border-radius: 6px;
                            width: 100%;
                            height: 100%;
                            max-width: 142px;
                            max-height: 142px;
                            padding: 1rem;

                            display: flex;
                            justify-content: center;
                            align-items: center;
                            
                            span {
                                color: $white;
                                font-weight: 600;

                                transition: all .3s ease-in-out;
                            }
                        }

                        img {
                            cursor: pointer;
                            margin: 0 auto;
                            width: 142px;
                            height: 142px;
                            max-width: 142px;
                            // min-height: 150px;
                            object-fit: cover;

                            border-radius: 7px;

                            &:active {
                                cursor: grab;
                            }
                        }

                        .item-indice {
                            cursor: grab;

                            p {
                                font-weight: bold;
                            }
                            svg {
                                width: 20px;
                                height: 20px;
                            }
                        }
                    }

                    > input {
                        cursor: pointer;
                        width: 20px;
                        height: 20px;
                    }
                }
            }

            .btn-more {
                background-color: $color-main;
                display: block;
                margin: 0 auto;
                margin-top: 2rem;

                color: $white;
                font-weight: 600;
                font-size: 1.6rem;
                padding: .3rem 1rem;

                border-radius: 5px;
            }
        }
    }


    // RESPONSIVIDADE:
    @media screen and (max-width: 480px) {
        .painel-midias {
            button.add-midia {
                padding: 0 1rem;
            }
        }       
    }

}