@import '../../styles/global.scss';

main.page-content {
    @include spacing-section();

    h1 {
        margin-bottom: .5rem;
    }

    .grid > p {
        margin-bottom: 4rem;
    }

    .top-painel {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        gap: 1rem;

        margin-bottom: 1rem;

        .tabs {
            background-color: $color-bgsecundary;
            // width: 100%;
            min-width: 22rem;
            border-radius: 7px;
            padding: 4px;
            box-shadow: 0 4px 6px -1px rgba(49, 49, 49, 0.18), 0 2px 4px -2px rgba(49, 49, 49, 0.18);

            button {
                background-color: transparent;
                width: 10.6rem;
                border-radius: 5px;
                padding: 4px 12px;
                color: $color-text;
                font-size: 1.4rem;
                font-weight: 600;
                opacity: .7;

                transition: all .2s ease-in-out;

                &.tab-ativa {
                    background-color: $white;
                    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
                    opacity: 1;
                }
                &:active {
                    background-color: $white;
                    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
                    opacity: 1;                    
                }
            }
        }

        .select-project {
            text-align: right;
            width: 100%;
            max-width: 480px;
    
            label {
                font-size: 2rem;
                font-weight: 700;
                vertical-align: middle;
            }
            select {
                font-size: 1.5rem;
                font-weight: 600;
                margin-left: 1rem;
    
                background-color: $color-bgsecundary;
                width: 100%;
                max-width: 25rem;
                height: 3rem;
                border-radius: 7px;
                // box-shadow: 0 1px 4px 2px rgba(49, 49, 49, 0.233);
                box-shadow: 0 4px 6px -1px rgba(49, 49, 49, 0.18), 0 2px 4px -2px rgba(49, 49, 49, 0.18);
                
                padding: 0 .4rem;
                vertical-align: middle;
                
                will-change: filter;
                transition: all .3s ease-in-out;
    
                &:hover {
                    cursor: pointer;
                    filter: drop-shadow(0 0 8px $color-main);
                    box-shadow: 0 0 0 1px #1f75cb5b;
                    // box-shadow: 0px 1px 7px 2px $color-main;
                }
            }
        }                           
    }
    
    .painel-midias {
        background-color: $color-bgsecundary;
        padding: 2rem;
        border-radius: 10px;
        box-shadow: 0 10px 15px -3px rgba(49, 49, 49, 0.18), 0 4px 6px -4px rgba(49, 49, 49, 0.18);

        p.not-projects, p.loading-midias {
            font-size: 1.6rem;
            text-align: center;
            padding: 8rem 0;

            span {
                font-size: 20px;
                font-weight: 700;
                line-height: 150%; /* 30px */
                letter-spacing: -0.2px;
            }
        }

        .cabecalho-painel {
            display: flex;
            justify-content: space-between;
            align-items: center;

            margin-bottom: 5px;
        }
        button.add-midia {
            @include style-btn(4rem, $color-main, 1.6rem, $white);
            font-weight: 600;
            padding: 0 3rem;
            border-radius: 10px;
            // transition: all .3s ease-in-out;

            // &:hover {
            //     box-shadow: 0px 1px 7px 2px rgba(49, 49, 49, 0.452);
            // }
        }

        .content-painel {
            .not-medias {
                text-align: center;
                padding: 4rem 0;
    
                p {
                    font-size: 1.8rem;
                    font-weight: 700;
                    line-height: 150%; /* 30px */
                    letter-spacing: -0.2px;
    
                    margin-bottom: .5rem;
                }
            }

            .sub-cabecalho {
                margin-bottom: 2.5rem;
            }

            ul.list-midias {
                display: flex;
                gap: 4rem 2rem;
                flex-wrap: wrap;
                // display: grid;
                // grid-template-columns: repeat(auto-fit, minmax(150px, auto));
                // gap: 1.75rem;

                li.item-midia {
                    text-align: center; 

                    .item-content {
                        background-color: #828181;
                        // color: $white;
                        width: 150px;
                        border-radius: 10px;
                        box-shadow: 0px 1px 7px 2px rgba(49, 49, 49, 0.452);

                        padding-top: 4px;
                        margin-bottom: 10px;

                        transition: all .3s, filter .3s ease-in-out;
                        position: relative;

                        &.ativa {
                            background-color: $white;
                            // color: $color-main;

                            img {
                                background-color: $color-bgsecundary;
                            }
                        }

                        &:hover {
                            filter: brightness(0.85);
                        }
                        &:active {
                            // filter: brightness(0.85);
                            box-shadow: 0px 0px 0px 2px $color-main, 0px 1px 7px 3px $color-main;
                            transform: scale(0.91);
                        }

                        .midia-disable {
                            cursor: pointer;
                            position: absolute;
                            left: 4px;
                            background-color: rgba(59, 58, 58, 0.589);
                            -webkit-backdrop-filter: blur(3px);
                            backdrop-filter: blur(3px);

                            border-radius: 6px;
                            width: 100%;
                            height: 100%;
                            max-width: 142px;
                            max-height: 142px;
                            padding: 1rem;

                            display: flex;
                            justify-content: center;
                            align-items: center;
                            
                            span {
                                color: $white;
                                font-weight: 600;

                                transition: all .3s ease-in-out;
                            }
                        }

                        img {
                            cursor: pointer;
                            margin: 0 auto;
                            width: 142px;
                            height: 142px;
                            max-width: 142px;
                            // min-height: 150px;
                            object-fit: cover;

                            border-radius: 7px;

                            &:active {
                                cursor: grab;
                            }
                        }

                        .item-indice {
                            cursor: grab;

                            p {
                                font-weight: bold;
                            }
                            svg {
                                width: 20px;
                                height: 20px;
                            }
                        }
                    }

                    > input {
                        cursor: pointer;
                        width: 20px;
                        height: 20px;
                    }
                }
            }

            table.table-midias {
                margin-top: 25px;

                width: 100%;
                table-layout: fixed;
                border-collapse: collapse;

                margin-bottom: 2rem;

                tr {
                    border-bottom: 1px solid $color-text; 
                    padding: 0.35rem;

                    th, td {
                        padding: 1rem .7rem;
                        text-align: left;
                        width: 23%;

                        img {
                            max-width: 84px;
                            height: 56px;
                            object-fit: cover;
                            border-radius: 7px;
                            opacity: .7;
                        }
        
                        .action {
                            // padding: 0.5rem;
                            padding: .3rem .44rem;
                            border-radius: 5px;
                            margin-right: 3px;
                            // line-height: 0;
                            color: $white;
                            font-size: 1.6rem;
                        }
        
                        .badge {
                            // padding: .3rem .44rem;
                            border-radius: 5px;
                            color: $white;

                            font-size: 1.3rem;
                            padding: 1rem;
                        }
                    }

                    th:first-child, td:first-child {
                        width: 8%;
                        min-width: 50px;
                    }
                    th:nth-child(3), td:nth-child(3) {
                        text-align: center;
                        width: 25%;
                        min-width: 60px;
                    }
                    th:nth-child(4), td:nth-child(4) {
                        text-align: center;
                        width: 25%;
                        min-width: 60px;
                    }
                    th:last-child, td:last-child {
                        width: 25%;
                        text-align: right;
                    }

                    th {
                        text-transform: uppercase;

                        &:last-child {
                            padding: .7rem 2.3rem;
                        }
                    }
                }

                tbody tr:hover {
                    background-color: #c0bfbe;
                }
            }
        }
    }


    // RESPONSIVIDADE:
    @media screen and (max-width: 480px) {
        .painel-midias {
            button.add-midia {
                padding: 0 1rem;
            }
        }       
    }

}