@import '../../styles/global.scss';

main.page-content {
    @include spacing-section();

    h1 {
        margin-bottom: .5rem;
    }

    .grid > p {
        margin-bottom: 4rem;
    }

    .select-project {
        text-align: right;
        margin-bottom: 1.5rem;

        label {
            font-size: 2.4rem;
            font-weight: 700;
            margin-right: 1rem;
            vertical-align: middle;
        }
        select {
            background-color: $color-bgsecundary;
            width: 100%;
            max-width: 25rem;
            height: 3rem;
            border-radius: 5px;
            padding: 0 .5rem;
            vertical-align: middle;
        }
    }

    .painel-midias {
        background-color: $color-bgsecundary;
        padding: 2rem;
        border-radius: 10px;
    }

}