@import '../../styles/global.scss';

header.Header-container {
    @include spacing-lateral();
    background-color: $color-bgprimary;
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
    // box-shadow: 0px 1px 7px 2px rgba(49, 49, 49, 0.452);
    box-shadow: 0px 0px 12px 1px #3f3f3f62;

    .grid {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 6rem;

        padding: 1.3rem 0;
    }

    a {
        line-height: 0;

        img {
            max-height: 35px;
        }
        .imgP {
            display: none;
        }
    }

    nav.menu-desktop {
        position: relative;
        left: -15px;

        ul {
            display: flex;
            gap: 1rem;

            li a {
                background-color: transparent;
                padding: .4rem 1.2rem .5rem;
                border-radius: 5px;

                font-size: 2rem;
                font-weight: 600;
                line-height: 150%; /* 30px */

                transition: all .3s ease-in-out;

                &.active {
                    background-color: $color-secundary;
                    color: $white;
                }
                
                &:hover {
                    background-color: $white;
                    color: $color-text;
                }
            }
        }
    }

    .btn-logout {
        background-color: transparent;
        padding: .4rem 1.2rem .5rem;
        border-radius: 5px;
        
        color: $color-text;
        font-size: 2rem;
        font-weight: 600;
        line-height: 150%; /* 30px */

        display: flex;
        align-items: center;
        gap: .3rem;

        transition: all .3s ease-in-out;

        &:hover {
            background-color: $white;
        }
    }


    // RESPONSIVIDADE:
    /* Tablets */
    @media screen and (max-width: 767px) {
        nav.menu-desktop {
            left: 0;
        }
    }

    /* Tablets baixa resolução */
    @media screen and (max-width: 600px) {
        nav.menu-desktop {
            display: none;
        }    
        
        .btn-logout.adm {
            display: none;
        }
    }

}